@model Localwire.Graphinder.WebVisualizer.Models.SimulatedAnnealingRequestViewModel

@{
    ViewBag.Title = "title";
    Layout = "..\\Shared\\_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery.signalR-2.2.1.min.js")"></script>
<script src="@Url.Content("~/signalr/hubs")"></script>
<script src="@Url.Content("~/Scripts/graphinder_simulated-annealing.js")" type="text/javascript"></script>

<h2>Simulated Annealing algorithm</h2>

<br/>

<div id="algorithm-settins" class="col-lg-6">
    @using (Html.BeginForm("StartSimulatedAnnealing", "Algorithms"))
    {
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.NumberOfNodesToGenerate)</td>
                <td>@Html.EditorFor(m => m.NumberOfNodesToGenerate)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.MaxNeighboursForNode)</td>
                <td>@Html.EditorFor(m => m.MaxNeighboursForNode)</td>
            </tr>
            <tr>
                <td colspan="2">
                    <p></p>
                    <input type="submit" value="Send" style="width: 100%" class="btn btn-default"/>
                </td>
            </tr>
        </table>
    }
</div>

<div id="feed" class="col-lg-6">
    
</div>

<div id="graph-container" class="col-lg-12">
    <h4>Graph simulation</h4>

    <div class="graph-canvas">
        <svg width="1024" height="500"></svg>
    </div>

    <span>Graph d3.js implementation based on work of <a href="http://bl.ocks.org/mbostock/4600693">Mike Bostock</a></span>
</div>
